.App {
  text-align: center;
  font-size: 0.9rem;
}
.adjustSides{
  max-width: 500px;
  margin: 50px auto;

}
.adjustSidesChar{
  margin: 20px;
}
/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@media screen and (max-width : 500px)
{
  .App 
  {
    font-size:0.7rem;
    text-align: center;

  }
}

.fadeIn{
  
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

.fadeOut{
  
  -webkit-animation: fadeout 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadeout 1s; /* Firefox < 16 */
      -ms-animation: fadeout 1s; /* Internet Explorer */
       -o-animation: fadeout 1s; /* Opera < 12.1 */
          animation: fadeout 1s;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
@keyframes fadeOut {
  from { opacity: 1; }
  to   { opacity: 0; }
}